:root{
  --g-color: #f0eef1;
  --orange-color: #c7a529;
  --dg-color: #272731;
}

body{
  /* background: none;  <!-- !important para que de prioridad al estilo deseado--> */
 font-family:'Source sans Pro',sans-serif;
 margin:0;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Fjalla One',sans-serif;
  /*font-weight: normal cursivas ;
    letter-spacing: 20px; espacios
    text-transform: uppercase; mayusculas, capitalice las primeras, lowercase minusculas
    text-decoration subrallado
      font-style: italic; cursiva
  */
}

h1{
  font-size: sans-serif;
  font-size: 26px;
}
h1 strong {
color: var(--orange-color);
}
h2{
  color: var(--dg-color);
  font-family:'Source sans Pro',sans-serif;
  margin:0;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}


.header a{
  color: black;
  text-decoration: none;
  height: inherit;
  align-items: center;
  padding: 0 10px;
}
.header figure, ol,ul{
  margin: 0px;
  padding:0px;
  list-style: none;
}
.header div {

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  align-items: center;
  height: 70px;
  width: 96%;
  padding: 15px 30px;
  background-color: white;
  background-size: 980px;
  top: 0;

}
.header ol{
  display: flex;
  height: inherit;
}
.header ol li{
  height: inherit;
}
.header a.link{
  display: flex;
}
.menu{
  height: inherit;

}
.item-image{
  background-image: url('../images/edu1.jpg');
}
.education-imageContainer{
  display: flex;
  background: white;
  justify-content: space-around;
  background-color: var(--dg-color);
  font-family:'Source sans Pro',sans-serif;
  /*font-family: 'Fjalla One',sans-serif;*/
  font-size: 14px;
  margin:0;
}
.education-imageContainer h4{
      margin: 0px 0px 0px 15px;
      display: flex;
}

.item1-image, .item2-image,.item3-image{
  margin: 0px;
}

.item1-knowledge1{
  margin-top: -260px;
}


.item1-knowledge1,.item1-knowledge2, .item1-knowledge3 {
  padding: 0px;
  margin-left: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  width: 355px;
  color: transparent;
  }


.title-education{
  display: flex;
  justify-content: center;
  background-color: var(--dg-color);
}
 .education{
   padding: 50px 0 50px 0;
   background: white;
   background-size: 980px;
   background-color: var(--dg-color);
 }

.project-image-item{
border-radius: 10px;
}

.hero{
height: 500px;
display: flex;
align-items: center;
justify-content: center;
background-color: var(--dg-color);
background-size: 1350px;
background-repeat: no-repeat;
background-position-x: center;
background-position-y: center;
margin: 100px 0px 0px 0px;
color: white;
padding: 20px;
background-image: url('../images/f8.JPG');
}

.portfolio{
background: var(--g-color);
padding: 40px 20px 20px 20px;
margin: 0px;

}
.project, .project2{
  display: flex;
  border: 1px solid gray;
  margin:10px;
  border-radius: 10px;
  margin-bottom: 15px;
  padding:20px;
  align-items: center;
  justify-content: space-between;
}

.project-course, .project-date, .project-url{
  margin: 10px 0;
}

.project-description{
  font-size: 20px;
}

.proyect-details{
  width: 500px;
}

.project-title{
  font-size: 26px;
  margin-bottom: 10px;
}

.project strong {
  font-family:'Source sans Pro',sans-serif;
  font-size: 15px;
  font-weight: bold;
}

footer{
  color: white;
  background-color: var(--dg-color);
  display: flex;
  justify-content: flex-end;
  /*align-items: center;*/
}
.footer img{
  vertical-align: middle;
}
.event {
border: 1px solid black;
margin: 10px;
width: 480px;
border-radius: 10px;
overflow: hidden;
flex-shrink: 0;
background-color: white;
}
.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.event-imageContainer{
  margin: 0;
}
.event-detail{
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-description {
  text-align: left;
}
.event-url{
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}
.segment{
  background-color: var(--dg-color);
  /*background-image: url('../images/platzi-conf.jpg');*/
  margin: 0px 0px;
  padding: 0px 0px 50px 0px;
  background-position-y: center;
  background-position-x: 5px;
}

.titulo-segment{
  color: white;
  text-align-last: center;
  padding-top: 20px;
}

.contact{
  background-color: var(--orange-color);
  color:white;
  height: 150px;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.h3{
  margin: 0;
  padding: 20px;
}

.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}
.social-link.outlook{
  background-image: url('../images/outlook.png');
}
.social-link.facebook{
  background-image: url('../images/facebook.svg');
}
.social-link.github{
  background-image: url('../images/github.svg');
}
.form-email input{
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 5px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}
.form-email button{
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  padding: 10px 0;
  width: 100px;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 10px;
}
.form-email h3{
  font-family:'Source sans Pro',sans-serif;
}
